@import 'https://fonts.googleapis.com/css?family=Raleway';

* {
  font-family: 'Raleway', sans-serif;
}

#preload_cv_hover {
  background: url(../img/cv-hover.png);
  display: none;
}

body {
  font-family: Helvetica, sans-serif;
  color: #6e6e6e;
  background: #f5f5f5;
  text-align: center;
  font-size: 1.4em;
  padding: 0 1em;
  max-width: 1000px;
  margin: auto;
}

header {
  margin-top: 1em;
}

a, a:focus {
  /*color: #008eee;*/
  color: #7E8EB7;
  text-decoration: none;
}

a:hover {
  color: #00aeee;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

#links li {
  display: inline-block;
  margin: 0 0.5em;
  font-size: 2em;
}

#link_cv {
  background: url(../img/cv.png);
  background-size: 28px;
  width: 28px;
  height: 28px;
}

#link_cv:hover {
  background: url(../img/cv-hover.png);
  background-size: 28px;
}

#profile {
  margin: 1em;
  width: 200px;
  height: 200px;
  /*border-radius: 100px;*/
}

#about, #intro {
  color: #572B11;
  font-size: 1.4em;
  margin-bottom: 1em;
}

#repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.repo {
  margin: 1em;
  padding: 1em;
  width: 200px;
  height: 120px;
  background: white;
  /*box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);*/
  box-shadow: 0 2px 5px rgba(87, 43, 17, 0.25);
  flex-grow: 1;
  overflow: hidden;
}

.repo:hover {
  /*box-shadow: 0 0 1px 2px rgba(170, 170, 170, 0.25);*/
  box-shadow: 0 0 5px 2px rgba(87, 43, 17, 0.25);
}

.repo > .name {
  /*color: black;*/
  color: #572B11;
  margin-top: 35px;
  transition: all 0.5s;
  letter-spacing: 0.04em;
}

.repo:hover > .name {
  margin-top: 0;
}

.repo > .description {
  /*color: #6e6e6e;*/
  color: #572B11;
  opacity: 0;
  transition: all 0.5s;
}

.repo:hover > .description {
  opacity: 1;
}

footer {
  margin: 1em;
}

/* ----------- iPhone 5 and 5S ----------- */
@media only screen and (max-width: 568px) {
    .repo > .name {
      margin-top: 0;
    }
    .repo > .description {
      opacity: 1;
    }
}
